@(anuncios : List[Anuncio])
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()"><span>Band Finder</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@routes.Application.anuncie()">Anuncie</a>
                        </li>
                        <li>
                            <a href="#about">About<br></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="@routes.Application.index()">Home</a>
                        </li>
                        <li>
                            <a href="#table_content">Anuncios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cover">
            <div class="cover-image"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-danger">Band Finder</h1>
                        <p class="text-success">Uma aplicação web que torna mais fácil a busca por outros colegas músicos.</p>
                        <p
                        class="text-success">Crie seus anúncios e logo, logo alguém entrará em contato com você.</p>
                            <br>
                            <br>
                            <a class="btn btn-lg btn-primary" href="@routes.Application.anuncie()">Criar Anuncio<br></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example" data-exaple-id="table-within-panel">
	        @if(anuncios.size() > 0){
		        <div id="table_content" class="panel panel-default">
		        	<table class="table">
		        		<thead>
		        			<tr>
		        				<th> Titulo </th>
		        				<th> Cidade </th>
		        				<th> Bairro </th>
		        				<th> Email </th>
		        				<th> Facebook </th>
		        				<th> Procura Banda? </th>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			@for(anuncio <- anuncios){
		        				<tr>  
		        					<td>@anuncio.getTitulo()</td>
		        					<td>@anuncio.getAnunciante().getCidade()</td>
		        					<td>@anuncio.getAnunciante().getBairro()</td>
		        					<td>@anuncio.getAnunciante().getEmail()</td>
		        					<td>@anuncio.getAnunciante().getFacebook()</td>
		        					@if(anuncio.getAnunciante().isProcuraBanda()){
		        						<td>Sim</td>
		        					}else{
		        						<td>Não</td>
		        					}
		        				</tr>
		        			}
		        		</tbody>
		        	</table>
		        </div>
		    }
		</div>
        <div class="section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="file:///C:/Users/Andre/Documents/SI1/si1-lab2/public/images/img-altofalante.jpg"
                        class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-primary">Crie Anúncios</h1>
                        <p class="text-left">
                            <b>Crie um anúncio completo, e espere seus colegas músicos responderem, para
                                montar sua banda.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-primary">Busca por Anúncios Filtrada</h1>
                        <h3></h3>
                        <p>
                            <b>Filtre anúncios pelos estilos musicais ou instrumentos que você gosta
                                ou toca para ir direto aos que lhe interessam.</b>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="file:///C:/Users/Andre/Documents/SI1/si1-lab2/public/images/img-bateria1.jpg"
                        class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">Mais Funcionalidades</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="file:///C:/Users/Andre/Documents/SI1/si1-lab2/public/images/img-banda1.jpg"
                        class="center-block img-responsive img-rounded">
                        <h3 class="text-center">Monte sua banda!</h3>
                        <p class="text-center">Monte sua banda rapidamente e divirta-se.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="file:///C:/Users/Andre/Documents/SI1/si1-lab2/public/images/img-contato.jpg"
                        class="center-block img-responsive img-rounded">
                        <h3 class="text-center">Deixe seu contato!</h3>
                        <p class="text-center">Ao criar o anúncio deixe uma forma de contato, para que os interessados
                            possam logo contactar você.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="file:///C:/Users/Andre/Documents/SI1/si1-lab2/public/images/img-check.png"
                        class="center-block img-responsive img-rounded">
                        <h3 class="text-center">Fácil de usar!</h3>
                        <p class="text-center">Apenas criar o anuncio e esperar.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>André Araújo, UFCG
                            <br>
                        </h1>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>