@(anuncios : List[Anuncio])
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
        
        <title> Band Finder </title>
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()"><span>Band Finder</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@routes.Application.anuncie()">Anuncie</a>
                        </li>
                        <li>
                            <a href="#about">About<br></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="@routes.Application.index()">Home</a>
                        </li>
                        <li>
                            <a href="#table_content">Anuncios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="well">
            <br/>
            <div class="row-fluid">
               <form class="form-grup"  action="@routes.Application.filtrar()" method="post">
                  <div class="span10 offset2">
                     <div class="input-append">
                        <input class="span9" name="valuePesquisa" id="appendedInputButton" type="text" placeholder="Ex: bateria, rock ou luau">
                        <button class="btn" type="submit">Pesquisar</button>
                        <br>
                        <br>
                     </div>
                  </div>
                  <div class="span12">
                     <label class="radio inline">
                     	<input type="radio"  name="pesquisa" value="PalavraChave">Palavra-Chave
                     </label>
                     <label class="radio inline">
                     	<input type="radio" name="pesquisa" value="Instrumento">Instrumento
                     </label>
                     <label class="radio inline">
                     	<input type="radio" name="pesquisa" value="Estilo">Estilo Preferido
                     </label>
                  </div>
               </form>
            </div>
         </div>
        <div class="cover">
            <div class="cover-image" style="background-image: url(routes.Assets.at('images/planodefundo.jpg'))"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-danger">Band Finder</h1>
                        <p class="text-success">Uma aplicacao web que torna mais facil a busca por outros colegas musicos.</p>
                        <p class="text-success">Crie seus anuncios e logo, logo alguem entrara em contato com voce.</p>
                            <br>
                            <br>
                            <a class="btn btn-lg btn-primary" href="@routes.Application.anuncie()">Criar Anuncio<br></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid marketing">
        	<div class="col-sm-6">
	        	@if(anuncios.size() > 0){
	        		@for(anuncio <- anuncios.reverse){
		        		<div class="row">
		        			<div class="col-xs-12">
			        			<h2 class="text-info">@anuncio.getTitulo()</h2>
	                     		<p class="muted">@anuncio.getDescricao()</p>
	                     		<p class="muted">Endereco: @anuncio.getAnunciante().getCidade(),
	                     								   @anuncio.getAnunciante().getBairro()</p>
	                     		<p class="muted">@anuncio.getAnunciante().getInstrumentosString()</p>
	                     		<p class="muted">@anuncio.getAnunciante().getGostaString()</p>
	                     		<p class="muted">@anuncio.getAnunciante().getNaoGostaString()</p>
	                  			<p class="muted">Email: @anuncio.getAnunciante().getEmail()</p>
	                  			<p class="muted">Facebook: @anuncio.getAnunciante().getFacebook()</p>
	                    	 	<p class="muted">Criado em @anuncio.getDateString()</p>
		        			</div>
		        		</div>
		        	}
		    	}
		    </div>
		</div>
        <div class="section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-primary">Crie Anuncios</h1>
                        <p class="text-left">
                            <b>Crie um anuncio completo, e espere seus colegas musicos responderem, para
                                montar sua banda.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-primary">Busca por Anuncios Filtrada</h1>
                        <h3></h3>
                        <p>
                            <b>Filtre anuncios pelos estilos musicais ou instrumentos que voce gosta
                                ou toca para ir direto aos que lhe interessam.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">Mais Funcionalidades</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-center">Monte sua banda!</h3>
                        <p class="text-center">Monte sua banda rapidamente e divirta-se.</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-center">Deixe seu contato!</h3>
                        <p class="text-center">Ao criar o anuncio deixe uma forma de contato, para que os interessados
                            possam logo contactar voce.</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-center">Facil de usar!</h3>
                        <p class="text-center">Apenas criar o anuncio e esperar.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Andre Araujo, UFCG
                            <br>
                        </h1>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>